<!--
  Generated template for the NuevoClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Agregar Cliente</ion-title>
    	<ion-buttons end>
	      	<button ion-button (click)="cancelarRegistro()">
	        <ion-icon name="md-close"></ion-icon>
	      	</button>
    	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>Nuevo Cliente</h1>
     <form [formGroup]="formRegistro" >
        <ion-list>
          <ion-item>
            <ion-label stacked>Nombre:</ion-label>
            <ion-input [(ngModel)]="nombre" formControlName="nombre" type="text" placeholder="Introduce Nombre"></ion-input>
          </ion-item>
          <ion-item *ngIf="formRegistro.get('nombre').errors && formRegistro.get('nombre').dirty">
            <p color="danger" ion-text *ngIf="formRegistro.get('nombre').hasError('required')">Campo Requerido</p>
            <p color="danger" ion-text *ngIf="formRegistro.get('nombre').hasError('minlength')">Mínimo 4 caracteres.</p>
            <p color="danger" ion-text *ngIf="formRegistro.get('nombre').hasError('maxlength')">Máximo 30 caracteres.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>Apellidos:</ion-label>
            <ion-input [(ngModel)]="apellidos" formControlName="apellidos" type="text" placeholder="Introduce Apellidos"></ion-input>
          </ion-item>
          <ion-item *ngIf="formRegistro.get('apellidos').errors && formRegistro.get('apellidos').dirty">
            <p color="danger" ion-text *ngIf="formRegistro.get('apellidos').hasError('required')">Campo Requerido.</p>
            <p color="danger" ion-text *ngIf="formRegistro.get('apellidos').hasError('maxlength')">Máximo 50 caracteres.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>Dirección:</ion-label>
            <ion-input [(ngModel)]="direccion" formControlName="direccion" type="text" placeholder="Introduce calle, Nº"></ion-input>
          </ion-item>
          <ion-item *ngIf="formRegistro.get('direccion').errors && formRegistro.get('direccion').dirty">
            <p color="danger" ion-text *ngIf="formRegistro.get('direccion').hasError('required')">Campo Requerido.</p>
            <p color="danger" ion-text *ngIf="formRegistro.get('direccion').hasError('maxlength')">Máximo 40 caracteres.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>Población:</ion-label>
            <ion-input [(ngModel)]="poblacion" formControlName="poblacion" type="text" placeholder="Introduce Población"></ion-input>
          </ion-item>
          <ion-item *ngIf="formRegistro.get('poblacion').errors && formRegistro.get('poblacion').dirty">
            <p color="danger" ion-text *ngIf="formRegistro.get('poblacion').hasError('required')">Campo Requerido.</p>
            <p color="danger" ion-text *ngIf="formRegistro.get('poblacion').hasError('maxlength')">Máximo 40 caracteres.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>Email:</ion-label>
            <ion-input [(ngModel)]="email" formControlName="email" type="email" placeholder="ejemplo@hotmail.com"></ion-input>
          </ion-item>
          <ion-item *ngIf="formRegistro.get('email').errors && formRegistro.get('email').dirty">
            <p color="danger" ion-text *ngIf="formRegistro.get('email').hasError('required')">Campo Requerido.</p>
            <p color="danger" ion-text *ngIf="formRegistro.get('email').hasError('email')">No tiene un formato de Email válido.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>Teléfono:</ion-label>
            <ion-input [(ngModel)]="telefono" formControlName="telefono" type="tel" placeholder="Introduce Teléfono (9 digitos)"></ion-input>
          </ion-item>
          <ion-item *ngIf="formRegistro.get('telefono').errors && formRegistro.get('telefono').dirty">
            <p color="danger" ion-text *ngIf="formRegistro.get('telefono').hasError('required')">Campo Requerido</p>
            <p color="danger" ion-text *ngIf="formRegistro.get('telefono').hasError('pattern')">Teléfono incorrecto.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>DNI:</ion-label>
            <ion-input [(ngModel)]="dni" formControlName="dni" type="text" placeholder="12345678-X"></ion-input>
          </ion-item>
          <ion-item *ngIf="formRegistro.get('dni').errors && formRegistro.get('dni').dirty">
            <p color="danger" ion-text *ngIf="formRegistro.get('dni').hasError('required')">Campo Requerido</p>
            <p color="danger" ion-text *ngIf="formRegistro.get('dni').hasError('pattern')">DNI incorrecto.</p>
          </ion-item>

          <ion-item>
            <ion-label stacked>Preferencias:</ion-label>
            <ion-textarea [(ngModel)]="preferencias" formControlName="preferencias" type="text" placeholder="Introduce las preferencias del cliente"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="formRegistro.get('preferencias').errors && formRegistro.get('preferencias').dirty">
            <p color="danger" ion-text *ngIf="formRegistro.get('preferencias').hasError('maxlength')">Máximo 200 caracteres.</p>
          </ion-item>

          <ion-item>
            <img [src]="foto" *ngIf="foto" />  
            <button ion-button icon-left full type="button" (tap)="sacarFoto()">
            Foto&nbsp;&nbsp;  
            <ion-icon name="camera"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
        <div padding>
          <button ion-button block type="submit" [disabled]="formRegistro.invalid" (click)="guardarCliente()">Guardar</button>
        </div>
      </form>
        <!-- <button ion-button block (click)="cancelarRegistro()">Cancelar</button> -->
        
</ion-content>