<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bienvenido</ion-title>
    <ion-buttons end>
      <button ion-button block color="primary" (click)="cerrarSesion()">Cerrar Sesión</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content color=""  padding>
<!-- 	<ion-fab right top>
    	<button ion-fab (tap)="nuevoSitio()">
    	<ion-icon name="pin"></ion-icon>
      	<ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->
  <ion-list>
    <ion-item-sliding #item *ngFor="let cliente of clientes">
      <ion-item (click)="detallesCliente(cliente)">
        <ion-thumbnail item-left>
          <img [src]="cliente.foto">
        </ion-thumbnail>
        <h2>{{ cliente.nombre }} {{ cliente.apellidos }}</h2>
        <p> {{ cliente.telefono}} </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button  color="danger" (click)="borrarCliente(cliente.id)"><ion-icon name="trash"></ion-icon>
         Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

	

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button block ion-button icon-only (click)="nuevoCliente()">
    Añadir
	<ion-icon name="md-person-add"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
