<!--
  Generated template for the ModalEditarClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ cliente.nombre }} {{ cliente.apellidos }}</ion-title>
    	<ion-buttons start>
      		<button ion-button (click)="cerrarModalDetalles()">
        	<ion-icon name="md-close"></ion-icon>
      	</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding class="fondo">

	<ion-card *ngIf="!edit">
    	<img [src]="cliente.foto" *ngIf="cliente.foto" />
    	<ion-card-content>
       	<ion-item text-wrap>
        	<h2><strong>Nombre:</strong> {{ cliente.nombre }} </h2>
          <h2><strong>Apellidos:</strong> {{ cliente.apellidos }} </h2>
          <h2><strong>Dirección:</strong> {{ cliente.direccion }} </h2>
          <h2><strong>Población:</strong> {{ cliente.poblacion }} </h2>
          <h2><strong>Email:</strong> {{ cliente.email }} </h2>
          <h2><strong>Teléfono:</strong> {{ cliente.telefono }} </h2>
          <h2><strong>DNI:</strong> {{ cliente.dni }} </h2>
          <h2><strong>Preferencias:</strong></h2> 
          <p>{{ cliente.preferencias }} </p>
        </ion-item>
    </ion-card-content>
	    <ion-row>
	      	<ion-col text-center>
	        	<button ion-button icon-left clear small (click)="comoLlegar()">
	          	<ion-icon name="navigate"></ion-icon>
	           	<div>Como llegar</div>
	        </button>
	      	</ion-col>
          <ion-col text-center>
            <button ion-button icon-left clear small (click)="editar()">
              <ion-icon name="editar"></ion-icon>
              <div>Editar</div>
            </button>
          </ion-col>
	    </ion-row>
	</ion-card>


  <ion-card *ngIf="edit">
    <ion-card-content>
      <form (ngSubmit)="guardarCambios()">
      <ion-item>
        <img [src]="cliente.foto" *ngIf="cliente.foto" />
        <button ion-button icon-left full type="button" (tap)="sacarFoto()">
          Foto&nbsp;&nbsp;
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-item>

      <hr/>

      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="cliente.nombre" name="nombre"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label>Apellidos:</ion-label>
        <ion-input [(ngModel)]="cliente.apellidos" name="apellidos"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-input [(ngModel)]="cliente.direccion" name="direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Población:</ion-label>
        <ion-input [(ngModel)]="cliente.poblacion" name="poblacion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input [(ngModel)]="cliente.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Teléfono:</ion-label>
        <ion-input [(ngModel)]="cliente.telefono" name="telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>DNI:</ion-label>
        <ion-input [(ngModel)]="cliente.dni" name="dni"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Preferencias:</ion-label>
        <ion-textarea [(ngModel)]="cliente.preferencias" name="preferencias"></ion-textarea>
      </ion-item>

      <button ion-button type="submit" block>Actualizar Cliente</button>
      
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
